.App {
  width: 100vw;
  height: 900;
}

body {
  margin: 0;
  padding: 0;
}

.Sidebar {
  height: 900;
  width: 20%;
  background-color: #5A5A5A;
}

.SidebarList {
  height: auto;
  padding: 0;
  width: 100%;
}

.SidebarList .row {
  width: 100%;
  height: 50px;
  list-style-type: none;
  margin: 0%;
  display: flex;
  flex-direction: row;
  color: white;
  justify-content: center;
  align-items: center;
}

.SidebarList .row:hover {
  cursor: pointer;
  background-color: darkgoldenrod;
}

.SidebarList #active {
  background-color: darkgoldenrod;
}

.container {
  display: flex;
  flex: 1;
}

.row #icon {
  flex: 30%;
  display: grid;
  place-items: center;
}

.row #name {
  flex: 70%;
}

.Calendar {
  width: 100%;
  height: 100vh;
  overflow-y: scroll;
}

/* .dx-toolbar-items-container {
  display: none;
} */
